### Name: Lewis Vitta
### Username: LXV842
### ID number: 2047942
**please edit the above with your details to personlise this notebook**

# Laboratory B: Python Foundations - Dictionaries, Tuples and Classes

# Python for Engineers
(c) 2018,2020,2020(v3) Dr Neil Cooke, School of Engineering, Collaborative Teaching Laboratory, University of Birmingham

# Introduction

This is foundation work. It consists of 3 sections that should take approximately 30-60 minutes to complete.

It introduced basic programming concepts of Dictionarys, Tuples and Classes.

Prior to this lab you should have
* Completed previous labs
* Viewed the python videos
* Reviewed the online support materials for Python provided on Canvas
* Installed python on your personal computer and/or be familiar with its use.
* Be familiar with other procedural programming languages i.e. C.

## Learning Outcomes

This is a gentle introduction to the Python language and its syntax assuming that you have previous programming knowledge. I cover the following:

> What dictionaries are and how to define them

> How to index a dictionary

> Which data types can be used as keys and which ones are illegal

> Which methods can be used on dictionaries

> What a tuple is an how to define one

> How to index a tuple

> What tuple packing and unpacking are

> When and how to use tuple assignment

> How to gather arguments using the ```*``` operator

> How to scatter a tuple

> What classes are and how to use them


**tasks you are required to do are highlighted in bold throughout this notebook**

## Tools to complete this lab

* Use this Jupyter notebook and complete/save your work in it. This requires a computing platform capable of running Python 3.x and Jupyter notebook (Anaconda distribution preferred). NOTE: pressing CTRL+Z on a highlighted cell will return it to its previous state. Use this to undo any changes you have made if you get lost and want to start again.

* If for whatever reason you do not or cannot use Jupyter notebooks, then use the PDF document of this as a 'lab sheet' and type / copy the python code into a py file in the order presented in the sheet, using the IDLE python editor and suitable comments between sections e.g. #Exercise 1. This will require a computing platform with Python 3.x installed. (not recommended)

# Exercise 1: Define a Dictionary

A dictionary is similar to a list, but more general. A dictionary contains a collection of keys and a collection of values. Each key is associated with a single value. This association is refered to as a key-value pair, or an item.

A dictionary is indexed by its key. So to find a certain value of a dictionary, you would have to index the dictionary with the key as the argument.

There are several ways to create a dictionary in Python. 
One way is to use the built-in ```dict()``` function. The ```{}``` brackets represent an empty dictionary.

**Run the cell below to create an empty dictionary.**

In [6]:
students = dict() #create an empty dictionary to record students
students

{}

The ```{}``` brackets represent an empty dictionary.

# Exercise 2: Add Items to a Dictionary

Adding items to a dictionary is similar to reassigning values of a list. To add an item, use square brackets with the key inside the brackets and then assign your corresponding value:

In [7]:
students['John Smith'] = 'jxs101'
students

{'John Smith': 'jxs101'}

**Create a dictionary called 'eng_2_ger'. Add a key called 'one' with a value called 'eins'.**

In [11]:
#Create dictionary
eng_2_ger = dict()
eng_2_ger['one'] = 'eins'
eng_2_ger

{'one': 'eins'}

# Exercise 3: Use Curly Brace Notation

You can also create a dictionary with elements already in it using the ```{}``` brackets:

In [1]:
students = {'John Smith': 'jxs101', 'George St-Pierre': 'gsp103', 'Lucy Elizabeth Graham': 'leg102'}
students

{'John Smith': 'jxs101',
 'George St-Pierre': 'gsp103',
 'Lucy Elizabeth Graham': 'leg102'}

**Create a dictionary which stores the denary numbers 1 to 5 as keys, with their binary equivalents as values.**

In [7]:
#Create dictionary

Numbers = {'1': '0001', '2': '0010', '3': '0011', '4': '0100', '5': '0101'}
Numbers

{'1': '0001', '2': '0010', '3': '0011', '4': '0100', '5': '0101'}

# Exercise 4: Index a Dictionary

Notice that a dictionary is not ordered. This should not be a problem since dictionaries are indexed by keys instead of integers. Note that indexing a dictionary like this:

In [5]:
students[0]

KeyError: 0

is incorrect and will return an error. Dictionaries have to be indexed by a key, only if the integer is a key will this work. Like this:

In [6]:
print(students['John Smith'])

jxs101

**Create a dictionary called 'numbers' with keys which are the numbers 1 to 10 and values which are the squares of the keys. Write a for loop which prints the square numbers for every even number from 1 to 10.**

In [22]:
#Create dictionary
Numbers = {'1': '1', '2': '4', '3': '9', '4': '16', '5': '25', '6': '36', '7': '49', '8': '64', '9': '81', '10': '100'}
#for loop
for x in Numbers:
    if int(x)%2 == 0:
        #print statement
        print(Numbers[x])

4
16
36
64
100

# Exercise 5: Datatypes in Dictionaries

A dictionary can also have multiple datatypes as its values

In [21]:
jxs101 = {'Name': 'John Smith', 'Age': 19, 'Course': 'Electrical and Electronic Engineering', 'Marks': {'Electrical Engineering 1': 71, 'IDP': 65}}
jxs101

{'Name': 'John Smith',
 'Age': 19,
 'Course': 'Electrical and Electronic Engineering',
 'Marks': {'Electrical Engineering 1': 71, 'IDP': 65}}

**A hospital is using dicitonaries to keep records for patient information. Write a dictionary which stores the name, age, height and weight of a patient. Print the age height and weight of the patient.**

In [37]:
#Create dictionary
patient0 = {'Name': 'John Smith', 'Age': 12, 'Height': 205.74, 'Weight': 420}


#print statement
print(patient0['Age'], patient0['Height'], patient0['Weight'])

12 205.74 420

# Exercise 6: The len() and value() functions

You can also check the length of a dictionary or check if a key or value exists in a dictionary. The ```values()``` method can be used to return all the values in a dictionary. 

**Run the cell below and see what each function returns:**

In [38]:
print(len(students))
print('Lucy Elizabeth Graham' in students)
print('gsp103' in students.values())

3
True
True

The ```len()``` function returns the number of key-value pairs (or 'items'), so this always returns an integers. The ```in``` operator here will return a Boolean value: true or false. If the key/value is in the dictionary, then the operation will return True. To check a key, simply write the key in ' ' marks followed by ```in```. To check a value, make sure to use the ```values()``` dot operation.

**Using the dictionary you created earlier, print the length and check if two keys and two values are in the dictionary. Pick the keys and values such that one of each will return true and the others will return false.**

In [58]:
#print length
print(len(patient0))

#check keys
print(420 in patient0)
print('Name' in patient0)

#check values
print('Name' in patient0.values())
print(12 in patient0.values())

4
False
True
False
True

# Exercise 7: Illegal Keys

Not all datatypes can be used as keys. 

**Run the cell below to see if lists can be used as keys:**

In [59]:
dictionary = {[1,2,3,4,5]: 'Dictionary'}

TypeError: unhashable type: 'list'

You should have found that this returned an error. In Python, dictionaries work through the use of hashtables. This means that using the ```in``` operator takes the same amount of time regardless of the number of items in the dictionary.  
But this also does mean that keys in a dictionary must be immutable. So lists cannot be used as keys in a dictionary.

# Exercise 8: Write a Function with Dictionaries
**Write a function that takes a string and returns a dictionary in which the keys are the letters in the string and the values are the number of times the letter appears in the string.**

In [87]:
def string_dict(a):
    #Create a dictionary 
    letter_count = dict()
    #for each charcater, b, in string a
    for b in a: 
        #if the letter is the dictonary add 1 to it's value, else enter it into the dictionary with value 1
        if b in letter_count:
            letter_count[b] += 1
        
        else:
            letter_count[b] = 1
    print(letter_count)
#Call Function 
string_dict('432r56d7rhegug34n789gty3528yt03b409ty354vm9[43vt09j,23m4tjv08943ymj89v3vbt')

{'4': 7, '3': 9, '2': 3, 'r': 2, '5': 3, '6': 1, 'd': 1, '7': 2, 'h': 1, 'e': 1, 'g': 3, 'u': 1, 'n': 1, '8': 4, '9': 6, 't': 6, 'y': 4, '0': 4, 'b': 2, 'v': 5, 'm': 3, '[': 1, 'j': 3, ',': 1}

In [84]:
def string_dict_answer(a):
    dictionary = dict()
    for c in a:
        if c not in dictionary:
            dictionary[c] = 1
        else:
            dictionary[c] += 1
    return dictionary

# Exercise 9: Defining Tuples

A tuple is an immutable datatype, similar to a list. It is a sequence of values that is indexed by integers. The value can be of any type.  
A tuple can be created in many different ways:

In [88]:
t = tuple() # Returns empty tuple
t = tuple('abcde')
t = 'a','b','c','d','e'
t = ('a','b','c','d','e')

Most list operators such as using ```[]``` to index and slicing work on tuples. **Run the cell below to see what each of the functions do:**

In [89]:
t = (1,2,3,4,5)
print(t[0])
print(t[1:3])
print(t[3:1])
print(t[::2])
print(t[::-1])

1
(2, 3)
()
(1, 3, 5)
(5, 4, 3, 2, 1)

Tuple elements an be accessed the same way as lists. Tuples are ordered, and so can be indexed using integers to represent a elements place in the list. Note how this is different to dictionaries. Here are some ways to index a tuple/list/strings:

> Using ```t[n]``` will return the nth element in the tuple. 

> Using ```t[n:m]``` (where m > n) will return a tuple containing the elements from n to m-1 (NOT m)

> Using ```t[n:m]``` (where m < n) will return an empty tuple

> If no n is given, n will be assumed to be zero

> Using ```t[n::m]``` will return a tuple starting containing the elements starting at n and increasing with step size m

> You can use negative values for the step size which will move backwards

> If no n is given for a negative step size, then n is assumed to be the final element of the list

**Create a tuple containing the square numbers of 1 to 10. Write code to:**

**- print the elements backwards**
**- print every second element**
**- print every third element backwards**
**- print elements 3 to 7**

In [107]:
#Create tuple
t = '1', '4', '9', '16', '25', '36', '49', '64', '81', '100'
#print statement
print(t[::-1])
#print statement
print(t[::2])
#print statement
print(t[::-3])
#print statement
print(t[3:7])

('100', '81', '64', '49', '36', '25', '16', '9', '4', '1')
('1', '9', '25', '49', '81')
('1',)
('16', '25', '36', '49')

# Exercise 10: Tuples are Immutable Datatypes

Unlike lists, you cannot modify a tuple as they are an immutable data type. (Immutable meaning unable to be changed)

In [68]:
t[0] = 6

NameError: name 't' is not defined

You can however replace tuples with other tuples, by creating a new tuple and referencing it using the variable name as the old tuple:

In [ ]:
t = (6,) + t[1:]
t

**Replace the tuple ```old``` with itself plus the last 4 elements of the tuple ```extra```. Store the data in a tuple called ```new```**

In [110]:
old = (1,2,3,4,5)
extra = (5,4,3,2,1)

#define new tuple
new = (old+extra)

#print statement
print(new)

(1, 2, 3, 4, 5, 5, 4, 3, 2, 1)

# Exercise 11: Tuple Packing

Tuple assignment in Python allows us to assign tuples to tuple in a general context, e.g. 
```(name,age,course) = john_smith```  
Tuple assignment can be broken down into tuple packing and tuple unpacking. In tuple packing, the values on the left of the assignment are packed together in a tuple.

**Run the cell below to create the tuple.**

In [111]:
john_smith = ('John Smith',19,'Electrical and Electronic Engineering')
john_smith

('John Smith', 19, 'Electrical and Electronic Engineering')

**Using tuple packing, create a tuple to store your name, age and degree title.**

In [113]:
#Create tuple
lewis_vitta = ('Lewis Vitta', 19, 'Electrical and Electronic Engineering')
lewis_vitta

('Lewis Vitta', 19, 'Electrical and Electronic Engineering')

# Exercise 12: Tuple Unpacking

In tuple unpacking, the values of the tuple on the right of the assignment are unpacked into the variables on the left:

In [1]:
name,age,course = john_smith
print(name)
print(age)
print(course)

NameError: name 'john_smith' is not defined

**Using your tuple from exercise 3, create and assign three variables called 'my_name' , 'my_age' and 'my_degree' using the values stored in the tuple.**

In [116]:
my_name, my_age, my_degree = lewis_vitta
print(my_age)

Lewis Vitta

# Exercise 13: Swapping Variables

Tuple assignment is also useful in swapping variables and removes the need of temporary variables in many problems. This operation must be completed in a single line for the variables to be swapped simultaneously.

In [118]:
a = 5
b = 4
a,b = b,a
print(a,b)

4 5

The number of variables on both sides of assignment must be the same for tuple assignment to work.

In [117]:
a,b,c,d = 1,2,3

ValueError: not enough values to unpack (expected 4, got 3)

**In the cell below swap the variables 'name' , 'age' and 'course' with the new variables 'my_name' , 'my_age' and 'my_degree'**

In [128]:
#create tuples
john_smith = ('John Smith',20,'Metallurgy and Ageing')
lewis_vitta = ('Lewis Vitta', 19, 'Electrical and Electronic Engineering')
#tuple packing
my_name, my_age, my_degree = lewis_vitta
(name,age,course) = john_smith

#Swap variables
name, age, course, my_name, my_age, my_degree = my_name, my_age, my_degree, name, age, course
print(name, age, course, my_name, my_age, my_degree)

Lewis Vitta 19 Electrical and Electronic Engineering John Smith 20 Metallurgy and Ageing

# Exercise 14: Tuple Assignment from Functions

Sometimes in a function it is useful to return 2 values instead of 1, however a function can only return 1 value. This is solved by setting the return value in a function as a tuple of the elements that you wish to return.

In [129]:
def name_course(student):
    name = student['Name']
    course = student['Course']
    return name,course

barbara_windsor = {'Name': 'Barbara Windsor', 'Age': 42, 'Course': 'Electrical and Electronic Engineering'}
name_course(barbara_windsor)

('Barbara Windsor', 'Electrical and Electronic Engineering')

**Write a function which takes in the value radius and returns pi times the radius squared and 4/3 pi times radius cubed**

In [137]:
import math

def circle_and_sphere(r):
    area_of_circle = r**2
    vol_of_sphere = (4/3)*math.pi*r**3
    
    #return statement
    return area_of_circle, vol_of_sphere
    
circle_and_sphere(0.2)

(0.04000000000000001, 0.03351032163829113)

# Exercise 15: The ```*``` Operator

The ```*``` operator can be used to 'gather' function arguments into a tuple and 'scatter' tuple variables into separate arguments.  
Gathering lets us create functions that can take an unspecified number of arguments. 

**Run the cell below and observe its output**

In [139]:
def print_multiple(*args):
    print(args)
    for arg in args:
        print(arg)
        
print_multiple('my','name','is','charles', 'the', 'II')

('my', 'name', 'is', 'charles', 'the', 'II')
my
name
is
charles
the
II

**Run the above cell again, but this time change the number of arguments in the function call. You should see that the function will work for any number of arguments.**

# Exercise 16: Scattering a Tuple

Scattering lets us take sequences of values and pass it to a function as multiple arguments:

In [140]:
def set_name_course(student,name,course):
    student['Name'] = name
    student['Course'] = course

robert_ryan = {'Name':'Robert Ryan','Age':21,'Course':'Electrical and Electronic Engineering'}
set_name_course(robert_ryan)

TypeError: set_name_course() missing 2 required positional arguments: 'name' and 'course'

In [141]:
argument = (robert_ryan,'Ryan Robert','Civil Engineering')
set_name_course(*argument)
print(robert_ryan)

{'Name': 'Ryan Robert', 'Age': 21, 'Course': 'Civil Engineering'}

**In the cell below, write a function call to scatter the elements of the tuple '**

In [146]:
def scatr(*args):
    for arg in args:
        print(arg)
    

scatr(argument)

({'Name': 'Robert Ryan', 'Age': 21, 'Course': 'Electrical and Electronic Engineering'}, 'Ryan Robert', 'Civil Engineering')

---

# Exercise 17: Classes

Note that section 3 is an advanced topic and introduces the concept of object orientation. You *do not* need this to complete lab 2. However, classes are a fundamental part of the python language so it is recommended that you complete this section.

**run all code in the cells below as you follow the explanation**

A class is a programmer-defined type and is the basis for object oriented programming. all programming you do in C is funtional/procedural. Languages like c++ , Java and Python ass the concept of object orientation. In essence, unlike a function, a class holds both function and data (this is called encapsulation). The class is a type and multiple instances of it may be created, each of which is called an object. This the term "object-oriented programming".

Classes are defined like this:

In [147]:
class Student:
    """Represents a student at university"""

By defining a class called ```Student``` we have now created a class object.

In [148]:
Student

__main__.Student

We can create objects which are instances of a class. Every object is an instance of some class.

In [149]:
john_smith = Student
john_smith

__main__.Student

We can assign values to instances using dot notation. These values of the instance are called attributes.

In [150]:
john_smith.name = "John Smith"
john_smith.age = 19

print(john_smith.name,',',john_smith.age)

John Smith , 19

Instances can also be passed as arguments like any other object. You can also use instances as return values.

**carefully  run and study the code below to determine its function**

In [152]:
def age(student):
    return student.age

print(age(john_smith))

def student_generator(name,age):
    student = Student()
    student.name = name
    student.age = age
    return student

billy_ross = student_generator("Billy Ross",19)
print(billy_ross)

19
<__main__.Student object at 0x7f4ac4bd9760>

Attributes of an instance are also mutable. This means they can be changed at runtime - even in a function. 

**observe the demonstration of a mutable object below**

In [153]:
billy_ross.name, billy_ross.age = "Ross Billy",23
print(billy_ross.name, ',', billy_ross.age)

def name_change(student,name):
    student.name = name
name_change(billy_ross, "Billy Ross")
print(billy_ross.name)

Ross Billy , 23
Billy Ross

A class can also have methods. These are functions that are associated to specific classes. Methods are defined inside the class definition, making the method explicit for that class. A method is also called differently to a normal function. To invoke a method dot notation is used.

In [154]:
class Student:
    """Represents a university student"""
    def print_student(student):
        print("Name: {}, Age: {}".format(student.name, student.age))

A method can be called by using dot notation on the class name itself, or on the instance that the method is being applied to:

In [155]:
john_smith = Student()
john_smith.name = "John Smith"; john_smith.age = 19

Student.print_student(john_smith)
john_smith.print_student()

Name: John Smith, Age: 19
Name: John Smith, Age: 19

It is convention to write ```self``` as the first argument of a method in Python. So the method would be written as:

In [156]:
class Student:
    """Represents a university student"""
    def print_student(self):
        print("Name: {}, Age: {}".format(self.name, self.age))

Methods can be used to do almost anything related to the class:

In [6]:
class Student:
    """Represents a university student"""
    def print_student(self):
        print("Name: {}, Age: {}".format(self.name, self.age))
    def change_name(self,new_name):
        self.name = new_name
    def change_age(self,new_age):
        self.age = new_age

We can also do certain things at the initialisation of an instance by using the ```__init__``` method. This is a special method that is invoked when an instance is first initialised. We can use it to set attributes straight away instead of defining them after an instance is created.

In [158]:
class Student:
    """Represents a university student"""
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def print_student(self):
        print("Name: {}, Age: {}".format(self.name, self.age))
    def change_name(self,new_name):
        self.name = new_name
    def change_age(self,new_age):
        self.age = new_age

There are other special methods like ```__str__``` that we can use. ```__str__``` returns a string representation of an object which will be displayed when the ```print``` function is used.

In [159]:
class Student:
    """Represents a university student"""
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def __str__(self):
        return 'Name: {}\n Age: {}'.format(self.name,self.age)
    def change_name(self,new_name):
        self.name = new_name
    def change_age(self,new_age):
        self.age = new_age

In [ ]:
john_smith = Student("John Smith",19)
print(john_smith)

We can also define class attributes. These are attributes that are associated with the class in which they were created. Every instance of this class will have these attributes automatically. Class attributes are different to instance attributes in that instance attributes are associated with the instances.

In [21]:
class Student:
    """Represents a university student"""
    school_names = ["Engineering","Mathematics","Computer Science","Physics","Psychology","Chemistry","Biology","Medicine and Dentistry"]
    
    def __init__(self,name,age,school):
        self.name = name
        self.age = age
        self.school = school
    def __str__(self):
        return 'Name: {}\n Age: {}\n School of {}'.format(self.name,self.age,self.school_names[self.school])
    def change_name(self,new_name):
        self.name = new_name
    def change_age(self,new_age):
        self.age = new_age

In [22]:
john_smith = Student('John Smith',19,0)
print(john_smith)

Name: John Smith
 Age: 19
 School of Engineering

Another important aspect of object oriented programming is inheritance. This is where a new class is defined as a modified version of a previously defined class. To define a class that inherits from another class, the name of the existing class is kept inside parentheses in the class definition:

In [23]:
class Undergraduate(Student):
    """Represents an undergraduate university student"""

When a new class inherits from a previously defined class, the new class is called the child and the previously defined class is called the parent. A child will inherit all methods from its parent.

In [24]:
joe_bloggs = Undergraduate("Joe Bloggs",20,2)
print(joe_bloggs, "\n")
joe_bloggs.change_age(21)
print(joe_bloggs)

Name: Joe Bloggs
 Age: 20
 School of Computer Science

Name: Joe Bloggs
 Age: 21
 School of Computer Science

However when we create a new child class, we can create it with it's own methods and attributes. We can use the keyword super() to refer to the parent class and the methods that are in the parent:

In [165]:
class Phd(Student):
    """Represents a PhD university student"""
    def __init__(self,name,age,school,thesis,supervisor):
        super().__init__(name,age,school)
        self.thesis = thesis
        self.supervisor = supervisor
    def __str__(self):
        return "Name: {}\n Age: {}\n School of {}\n Thesis: {}\n Supervisor: {}".format(self.name,self.age,
                                                                                        self.school_names[self.school],self.thesis,
                                                                                       self.supervisor)
    def change_supervisor(self,new_supervisor):
        self.supervisor = new_supervisor

In [166]:
p = Phd("Srinivasa Ramanujan",31,1,"Highly Composite Numbers","G. H. Hardy")
print(p,'\n')
p.change_supervisor("J. E. Littlewood")
print(p)

Name: Srinivasa Ramanujan
 Age: 31
 School of Mathematics
 Thesis: Highly Composite Numbers
 Supervisor: G. H. Hardy

Name: Srinivasa Ramanujan
 Age: 31
 School of Mathematics
 Thesis: Highly Composite Numbers
 Supervisor: J. E. Littlewood

The methods defined in a child class will not work on an instance of the parent class.

In [167]:
jr = Student("J. R. Smith",29,4)
print(jr)
jr.change_supervisor("Lebron James")

Name: J. R. Smith
 Age: 29
 School of Psychology

AttributeError: 'Student' object has no attribute 'change_supervisor'

---

# Exercise 18: Customer Database

A store decides to track the purchases of its customers to find trends in the products sold over a year.

**Create a dictionary with the 12 months of the year as keys, and empty lists as the values. The lists will store the purchases made by one customer for that month.**

**Create a class called Customer, with the attributes: Name, Age, Gender and Purchases ( where purchases is the dictionary you defined above). **

**Using the class above create 3 fictional customers, assigning them a name, age and gender.**

**Write a function to randomly assign them 3 purchases per month for all 12 months from the tuple ```purchaseable_items``` below. **

HINT: You may want to write a function which uses a for loop to do this.

In [210]:
import random 
purchaseable_items = ('egg','milk','bread','chocolate','cereal','orange','banana','apple','juice','cheese','brocoli','cucumber','carrot','bagel')

class Customer:    
    global purchaseable_items
   
    def __init__(self, Name, Age, Gender):
        self.name, self.age, self.gender = Name, Age, Gender
        self.purchases = dict(January=[],February=[],March=[],April=[],May=[],June=[],July=[],August=[],September=[],October=[],November=[],December=[])
    
        Customer.random_generator(self)
    
    def print_customer(self):
        print("Name: {}, Age: {}, Gender: {}, Purchases: {} \n".format(self.name, self.age, self.gender, self.purchases))
    
    def random_generator(self):        
        for x in self.purchases:            
            for y in range(3):
                self.purchases[x].append(purchaseable_items[random.randint(0, 13)])
                        
        
        Customer.print_customer(self)    
             
snap = Customer("snap", 7, "Male")
crackle = Customer("Crackle", 18, "None")
pop = Customer("pop", 36, "Female")

Name: snap, Age: 7, Gender: Male, Purchases: {'January': ['carrot', 'bread', 'carrot'], 'February': ['cereal', 'milk', 'egg'], 'March': ['egg', 'banana', 'bread'], 'April': ['apple', 'apple', 'cucumber'], 'May': ['milk', 'juice', 'chocolate'], 'June': ['orange', 'bread', 'bread'], 'July': ['brocoli', 'carrot', 'milk'], 'August': ['milk', 'banana', 'egg'], 'September': ['cereal', 'brocoli', 'banana'], 'October': ['cheese', 'cucumber', 'brocoli'], 'November': ['bread', 'bread', 'bagel'], 'December': ['apple', 'bread', 'orange']}

Name: Crackle, Age: 18, Gender: None, Purchases: {'January': ['brocoli', 'chocolate', 'chocolate'], 'February': ['orange', 'juice', 'bagel'], 'March': ['cereal', 'egg', 'apple'], 'April': ['bread', 'bread', 'juice'], 'May': ['apple', 'cucumber', 'brocoli'], 'June': ['carrot', 'banana', 'cereal'], 'July': ['juice', 'orange', 'carrot'], 'August': ['apple', 'bread', 'egg'], 'September': ['cheese', 'cucumber', 'bagel'], 'October': ['orange', 'carrot', 'brocoli'], 'November': ['chocolate', 'chocolate', 'milk'], 'December': ['egg', 'chocolate', 'juice']}

Name: pop, Age: 36, Gender: Female, Purchases: {'January': ['banana', 'milk', 'milk'], 'February': ['apple', 'cheese', 'juice'], 'March': ['milk', 'juice', 'banana'], 'April': ['orange', 'chocolate', 'banana'], 'May': ['carrot', 'carrot', 'chocolate'], 'June': ['bagel', 'egg', 'cereal'], 'July': ['apple', 'banana', 'bagel'], 'August': ['cucumber', 'milk', 'carrot'], 'September': ['chocolate', 'cucumber', 'apple'], 'October': ['juice', 'orange', 'carrot'], 'November': ['orange', 'carrot', 'banana'], 'December': ['bread', 'bread', 'juice']}

# End of Lab

This is the end of your introduction to Dictionaries, Tuples and Classes. 

Please note this is not a complete reference but is designed to introduce you to concepts and common misconceptions of the python language, and hopefully some good practice such as variable naming and exhaustive commenting of your code...

Please consult the online reference materials to find out more (Canvas has links).

Jupyter notebooks are not just for coding; you can write in them too in markup language. So note in the next cell what what you learned/found difficult or easy in the space below.

**please reflect on your learning below**

### I rate this lab (out of 5): 5

### What I find easy:
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

### What I find difficult:
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

### What I should improve:
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

# Next steps

* **Upload this completed .pynb notebook to canvas**
* **Progress to the next lab**

# Python for Engineers
(c) 2018,2020 Dr Neil Cooke, School of Engineering, Collaborative Teaching Laboratory, University of Birmingham
change log:
2018 - original
2020 - modified for remote
2020 v3 - correct typo exercise 5